@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #171918;
}

.command-center {
  min-height: 100vh;
  color: #111;
  background:
    linear-gradient(
      155deg,
      #d7d7d4 0%,
      #d7d7d4 43%,
      #171918 43.1%,
      #171918 100%
    );
}

.title1 {
  text-align: center;
  font-family: "Fascinate Inline";
  font-size: 2.1rem;
}