@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #171918;
}

button {
  cursor: pointer;
}

.command-center {
  min-height: 100vh;
  color: #111;
  background:
    linear-gradient(
      155deg,
      #d7d7d4 0%,
      #d7d7d487 43%,
      #171918 43.1%,
      #171918 100%
    );
  position: hidden;
  overflow: hidden;
}

.title1 {
  text-align: center;
  font-family: "Fascinate Inline";
  font-size: 2.1rem;
  color: rgb(3, 125, 125);
}

.todays-code {
  margin-top: 10px;
  margin-left: 50px;
  position: absolute;
  rotate: -24deg;
  border: 1px solid;
  transition: 0.2s ease-in-out;
  background-color: #beb643ec;

}

.todays-code h1{
  font-size: 2.5rem;
  color: rgb(75, 101, 22);
  margin-left:10px;
  margin-right: 10px;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-weight: 300;
  text-align: center;

}

.todays-code p {
  margin-left: 15px;
  font-weight: 900;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0%;
}

.todays-code:hover {
  border-radius: 20px;
  background-color: rgba(218, 201, 12, 0.925);
}
.dash {
  margin-top: 0%;
  margin-bottom: 0%;
}

.under-dash {
  margin-top: 2px;
}

.focus-channel {
  position: relative;
  top: 35rem;
  left: 1500px;
  margin-left: 5rem;
  width: 26%;
  padding: 30px;
  color: rgb(255, 255, 255);
  border: solid 1px white;
  text-align: center;

  font-family: "Courier New";
  box-sizing: border-box;
}

.focus-label {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 18px;
}

.focus-label p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 4px;
  white-space: nowrap;
}

.label-line {
  flex: 1;
  height: 1px;
}

.focus-channel h2 {
  margin: 25px 0 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 2.2rem;
  letter-spacing: 3px;
  line-height: 1;
}

.focus-display {
  margin: 30px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.control-focus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  width: 90%;
  margin: 0 auto 18px;
}

.controls-focus button {
  padding: 14px 10px;
  border: 1px solif currentColor;
  border-radius: 0;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 180ms ease;
  margin-right: 20px;
  margin-bottom: 20px;
}

.controls-focus button:hover {
  transform: translateY(-4px);
}
